<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
  body {
      font-family: 'Montserrat';font-size: 22px;
  }
  </style>
<body style="background-repeat: round;background-image: linear-gradient(to right, #000000, #0a0005, #0f000e, #0f0116, #09041e);">
    <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
    <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="">Home</a>
        <a class="nav-link" href="#exp">Exploration</a>
        <a class="nav-link" href="#dash">Dashboard</a>
        <a class="nav-link" href="#story">Story</a>
        <a class="nav-link" href="#report">Report</a>
       </div>
    </div>
  </div>
</nav>
<br>
<br><br>
    <center><h1 class="text-white">Leveraging Data Analysis for Optimal Marketing Campaign Success</h1></center><br><br>
    <br><br><br>   
    <p class="text-white justify-content-center">Leveraging Data Analysis for Optimal marketing Campaign success" The purpose of this project is to explore the application of data analysis in the context of marketing campaigns and demonstrate how it can be leveraged to achieve optimal success. By harnessing the power of data, marketers can go beyond traditional intuition-based strategies and adopt a data-driven approach to create more targeted and personalized campaigns. This project aims to provide insights into various data analysis techniques, tools, and methodologies that can be employed to uncover hidden patterns and trends in marketing data, enabling marketers to make informed decisions and optimize their campaigns for maximum impact.</p>
    <br><br><br>
    <div style="display: flex;  align-items: center;justify-content: center;flex-direction:column">
        <h1 class="text-white">Exploration</h1><br>
        <iframe id="exp" src="https://us3.ca.analytics.ibm.com/bi/?perspective=explore&amp;pathRef=.my_folders%2FNaanMudhalvanexploration&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;subView=model0000018b6cc3bab4_00000004" width="1000" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div style="display: flex; align-items: center;justify-content: center;flex-direction:column">
        <h1  class="text-white">Story</h1><br>
        <iframe id="dash" src="https://us3.ca.analytics.ibm.com/bi/?perspective=story&amp;pathRef=.my_folders%2FNaanMudhalvanStory&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;sceneId=-1&amp;sceneTime=0" width="1000" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    <div style="display: flex;  align-items: center;justify-content: center;flex-direction:column">
        <h1  class="text-white">Report</h1><br>
        <iframe id="report" src="https://us3.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2FNaanMudhalvanReport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=run&amp;format=HTML&amp;prompt=false" width="1000" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div>
    <div style="display: flex;  align-items: center;justify-content: center;flex-direction:column">
        <h1  class="text-white">Dashboard</h1><br>
        <iframe id="story" src="https://us3.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FNaanMudhalvanDashboard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model0000018b6cf6e6cf_00000003" width="1000" height="700" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </div> 
  </body>
</html>
